<mat-toolbar>
    <mat-toolbar-row class="title-toolbar">
        <h1>Angular Truffle Boilerplate</h1>

        <!-- Put the Wallet Connect Here -->
        <div *ngIf="!loggedIn">
            <button 
              mat-flat-button
              color="primary"
              (click)="connectWallet()">
                Connect Wallet
            </button>
        </div>

        <div *ngIf="loggedIn" class="loggedin-info">
            <div class="item">
                Kovan
            </div>

            <div class="toolbar-address item" (click)="copyAddress()">
                <div [cdkCopyToClipboard]="currentAddress">
                    {{ currentAddress }}
                </div>
            </div>

            <!-- <button mat-raised-button (click)="logout()" class="item" color="accent">Disconnect</button> -->
        </div>
        
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <mat-nav-list>
            <mat-list-item>
                <a routerLink="/">Contract #1</a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="/">Contract #2</a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="/">Contract #3</a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="/walletinfo">Wallet Information</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>
