.title-toolbar {
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}


.loggedin-info {
    display: flex;
    
    .item {
        margin: 0.5rem;
    }
}

.toolbar-address {
    border: 1px solid white;
    border-radius: 10px;
    width: 10vw;
    overflow: hidden;
    font-size: small;

    :hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

mat-toolbar-row {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}